/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
[class*="btn-"] {
    display: inline-block;
    vertical-align: middle;
    min-width: $btn-minwidth;
    text-align: center;
    color: #fff;
    border: 0;
    line-height: 1;
    text-decoration: none;
    transition: background-color 250ms ease-in, color 250ms ease-in;

    .no-touchevents &,
    .no-js & {
        &:hover,
        &:focus {
            text-decoration: none;
            color: #fff;
        }
    }
}


.btn-primary {
    border: 1px solid $c-primary;
    background-color: transparent;
    color: $c-primary;

    .no-touchevents &,
    .no-js & {
        &:hover,
        &:focus {
            background-color: $c-primary;
            color: #fff;
        }
    }
}



.btn-secondary {
    border: 1px solid $c-primary;
    background-color: $c-primary;
    color: #fff;

    .no-touchevents &,
    .no-js & {
        &:hover,
        &:focus {
            background-color: #fff;
            color: $c-primary;
        }
    }
}
